.commentMainContainer-outer {
  border-width: 2px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #474747;
}

.commentMainContainer-inner {
  display: grid;
  grid-template-columns: 5vw 5fr;
  grid-template-rows: 5vh 1fr;
  text-align: left;
}

.commentVoter {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.commentInfo {
  grid-area: 1 / 2 / 2 / 6;
  padding-left: 2.5%;
  display: flex;
  align-items: center;
}

.commentBody {
  grid-area: 2 / 2 / 3 / 6;
  padding-left: 2.5%;
  font-size: 14px;
}

.commentAuthorInfo {
  font-weight: bold;
}

.commentDateTime {
  font-size: 12px;
  margin-left: 0.5%;
  position: relative;
}

.commentDeleteButtonContainer {
  margin-left: 0.5vw;
}

.commentDeleteButton {
  height: 100%;
  width: 100%;
  background-color: white;
  color: darkred;
  border-radius: 100px;
  font-size: 100%;
  border: none;
  font-size: 14px;
  outline: none;
}

.commentDeleteButton:hover {
  background-color: darkred;
  color: white
}

.commentDividerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.commentDivider {
  display: block;
  width: 100%;
  height: 10px;
  color: white;
  border-bottom: 1px solid rgb(237, 237, 237);
}

/* ---------------- mobile styling ---------------- */
/* ---------------- mobile styling ---------------- */
/* ---------------- mobile styling ---------------- */

@media (max-width: 479px) {
  
  .commentMainContainer-inner {
    grid-template-rows: 8vw 1fr;
    grid-column-gap: 5.5vw;
  }

  .commentVoter {
    width: 30%;
    height: 5%;
    margin-left: 2.7vw;
  }

  .commentDateTime {
    font-size: 12px;
    margin-left: 4px;
    position: relative;
    top: 1px;
  }

  .commentInfo {
    position: relative;
    bottom: 1.25vw;
  }

  .commentBody {
    position: relative;
    bottom: 1.25vw;
    font-weight: 300;
  }

}