/* @media only screen and (min-width: 1224px) { */

.App {
  text-align: center;
}

@font-face {
  font-family: 'Gotham-Bold';
  font-weight: 100;
  src: local('Gotham-Bold'), url(./fonts/Gotham-Bold.otf) format('opentype');
  color: '#474747';
}

.articlesList {
  max-width: 100%;
}

.header {
  font-size: 150%;
}

.test {
  background-color: red;
}

@media (max-width: 479px) {
  .test {
    background-color: blue;
  }
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  font-size: 100%;

  padding-left: 25%;
  padding-right: 25%;

  display: flex;
  justify-content: space-between;

  max-width: 100%;
  padding-bottom: 0.3%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sortDropdown {
  outline: none;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  z-index: 999;
  animation: fadeIn 500ms ease-in-out 0.25s both;
}

.sortDropdown:focus {
  outline: none;
}

.topic_0 {
  color: #c08b87;
  background-color: white;
  font-weight: bold;
  font-size: 200%;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 3px;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  border-radius: 3px;
  width: '100px';
}

.topic_0:hover {
  color: white;
  background-color: darkred;
  border-radius: 3px;
  opacity: 0.5;
}

.topic_1 {
  color: #95b08d;
  background-color: white;
  font-weight: bold;
  font-size: 200%;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 3px;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  border-radius: 3px;
  width: '100px';
}

.topic_1:hover {
  color: white;
  background-color: darkgreen;
  border-radius: 3px;
  opacity: 0.5;
}

.topic_2 {
  color: #8086c4;
  background-color: white;
  font-weight: bold;
  font-size: 200%;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 3px;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  border-radius: 3px;
  width: '100px';
}

.topic_2:hover {
  color: white;
  background-color: darkblue;
  border-radius: 3px;
  opacity: 0.5;
}

.articleBody {
  padding: 20px;
  text-align: left;
}

.articlePageVoter {
  margin: auto;
  width: 25%;
  height: 100px;
  font-size: 200%;
}

.articleCardVote {
  margin: auto;
  padding-top: 1%;
  width: 20%;
  height: 100%;
}

.voter {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 11.11%);
  grid-template-rows: repeat(3, 33.33%);
}

.commentVoter {
  padding-top: 1%;
  padding-left: 65%;
  width: 10%;
  height: 5%;
}

.votesLabel {
  grid-area: 1 / 4 / 2 / 7;
  font-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.votesNumber {
  grid-area: 2 / 4 / 4 / 7;
  font-weight: 'bolder';
  font-size: 100%;
  color: darkred;
}

.up {
  grid-area: 1 / 1 / 4 / 4;
  color: #474747;
  font-size: 200%;
}

.up-disabled {
  grid-area: 1 / 1 / 4 / 4;
  color: green;
  pointer-events: none;
  font-size: 200%;
}

.down {
  grid-area: 1 / 7 / 4 / 10;
  color: #474747;
  font-size: 200%;
}

.down-disabled {
  grid-area: 1 / 7 / 4 / 10;
  color: darkred;
  pointer-events: none;
  font-size: 200%;
}

.commentButton {
  height: 100%;
  margin-left: 1%;
  margin-top: 2%;
  color: white;
  background-color: darkred;
  border-radius: 3px;
  font-size: 100%;
}

.commentButton:disabled,
.commentButton[disabled] {
  color: darkgray;
  background-color: gray;
}

@media (max-width: 479px) {
  .topic_0 {
    font-size: 125%;
  }

  .topic_1 {
    font-size: 125%;
  }

  .topic_2 {
    font-size: 125%;
  }

  .navBar {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
  }

  .sortDropdown {
    top: 2.5%;
  }

  .articlePageVoter {
    margin: auto;
    width: 50%;
    height: 100px;
    font-size: 200%;
  }

  .articleCardVote {
    margin: auto;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 40%;
    height: 100%;
  }

  .commentVoter {
    width: 30%;
    height: 5%;
  }
}

img.loadingSpinner {
  width: 120px;
  height: auto;
}

/* .commentInputContainer {
    background-color: red;
    width: 100%;
  } */

.commentListContainer {
  background-color: paleturquoise;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 33.33%);
  width: 80%;
  margin: auto;
}

.commentList-commentsNumber {
  grid-area: 1 / 1 / 2 / 2;
}

.commentList-commentInput {
  grid-area: 2 / 1 / 3 / 2;
}

.commentList-commentsDisplay {
  grid-area: 3 / 1 / 4 / 2;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.topicBanner {
  color: #474747;
  background-color: white;
  /* box-shadow: 5px 2px 18px #a7a7a7; */
  box-shadow: 0 8px 6px -6px #a7a7a7;
  position: -webkit-sticky;
  position: sticky;
  top: 6.2%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  animation: 0.25s ease-out 0s 1 slideInFromLeft;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.coding {
  color: white;
  background-color: #c08b87;
}

.football {
  color: white;
  background-color: #95b08d;
}

.cooking {
  color: white;
  background-color: #8086c4;
}

@keyframes articleFade {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(10px);
    opacity: 1;
  }
}

.articlePage {
  color: #474747;
  animation: articleFade 500ms ease-in-out 0s both;
}
