.App {
  text-align: center;
}

@font-face {
  font-family: 'Gotham-Bold';
  font-weight: 100;
  src: local('Gotham-Bold'), url(./fonts/Gotham-Bold.otf) format('opentype');
  color: '#474747';
}

.header {
  font-size: 150%;
}

.navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  padding-bottom: 0.5%;
}

.sortDropdown {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #858585;
  padding-top: 2%;
  z-index: 99;
}

.topic_0 {
  color: darkred;
  opacity: 1;
  transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  border-radius: 3px;
  width: '100px';
}

.topic_0:hover {
  color: white;
  background-color: darkred;
  opacity: 0.5;
  border-radius: 3px;
}

.topic_1 {
  color: darkgreen;
  border-radius: 3px;
  transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  border-radius: 3px;
  width: '100px';
}

.topic_1:hover {
  color: white;
  background-color: darkgreen;
  border-radius: 3px;
  opacity: 0.5;
}

.topic_2 {
  color: darkblue;
  border-radius: 3px;
  transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  border-radius: 3px;
  text-align: 'center';
  justify-content: 'center';
  width: '100px';
}

.topic_2:hover {
  color: white;
  background-color: darkblue;
  border-radius: 3px;
  opacity: 0.5;
}

.up {
  border: 1px solid white;
  background-color: white;
}

.up:disabled,
.up[disabled] {
  border: 1px solid white;
  background-color: green;
  color: white;
}

.down {
  border: 1px solid white;
  background-color: white;
}

.down:disabled,
.down[disabled] {
  border: 1px solid white;
  background-color: darkred;
  color: white;
}

.articleBody {
  padding: 70px;
}
